aside {
    background: var(--background2);
    min-height: 100vh;
    border: 1px solid var(--placeholder);
    display: flex;
    flex-direction: column;
    flex: 0 0 17em;
    padding: 30px 10px;
    align-items: center;
    gap: 3em;
}

aside .searchbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#limpar-pesquisa{
    display: none;
    &:hover{
        color: var(--badColor);
    }
}

aside div form {
    display: flex;
    width: 100%;
    gap: 5px;
}

aside div form input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 1px solid var(--hoverColor);
    padding: 5px;
}

aside div form button {
    background: transparent;
    border: none;

    &:hover {
        color: var(--hoverColor);
    }
}

#refresh-btn {
    width: fit-content;
    font-size: 20px;
    background: transparent;
    border: none;

    &:hover {
        animation: spin 1s linear;
        color: var(--hoverColor);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.filtros{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#generos-placeholder{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.div-input{
    width: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.div-input input{
    display: flex;
}

#btn-mostrar{
    width: 100%;
    background: var(--principalColor);
    color: var(--background);
    border: none;
    font-size: 16px;
    padding: 10px;
    &:hover{
        background: var(--hoverColor);
    }
}

