.main-content{
    padding: 30px;
    width: 90%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#melhores-placeholder,#temporada-placeholder,#pesquisa-placeholder{
    display: flex;
    gap: 15px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
}

.card{
    background: var(--placeholder);
    display: flex;
    border-bottom: 2px solid transparent;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width:200px;
    min-width: 200px;
    position: relative;
    gap: 5px;
    &:hover{
        border-color: var(--hoverColor) ;
    }
}

.card-header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


.card img{
    width: 100%;
    height: 255px;
    background: var(--placeholder);
}

#score{
    display: flex;
    justify-content: space-between;
}

#nota{
    color: #a0a0a098;
}

#estrelas{
    color: #EFBF04;
}

.card-overlay{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background: #111111ea;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    flex-direction: column;
}

.txt-overlay{
    height: 75%;
    overflow: auto;
    color: var(--background);
}

.btns-overlay{
    width: 100%;
}

.btns-overlay button{
    width: 100%;
    border: none;
    color: var(--background);
    background: var(--principalColor);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}