* {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue";
}

@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --borderLinks: #ffffff44;
    --placeholder: #ececec98;
    --background: #ffffff;
    --background2: #dbdbdb21;
    --principalColor: #133eff;
    --hoverColor: #1d47ff;
    --badColor: #ff1313;
}

button {
    cursor: pointer;
}

body {
    min-height: 100vh;
    width: 100%;
}

main{
    width: 100%;
    display: flex;
}
